[submodule "Sprawozdanie-main/source/rozdzial2/Konfiguracja_baz_danych_alt"]
	path = Sprawozdanie-main/source/rozdzial2/Konfiguracja_baz_danych_alt
	url = https://github.com/Chaiolites/Konfiguracja_baz_danych.git

[submodule "Sprawozdanie-main/source/skrypty_python_bazy"]
	path = Sprawozdanie-main/source/skrypty_python_bazy
	url = https://github.com/Chaiolites/Kody-Python-Bazy.git
