[submodule "Sprawozdanie-main/source/rozdzial2/Konfiguracja_baz_danych_alt"]
	path = Sprawozdanie-main/source/rozdzial2/Konfiguracja_baz_danych_alt
	url = https://github.com/Chaiolites/Konfiguracja_baz_danych.git

